// typography.
$font-family: 'Open sans', Helvetica, Arial, sans-serif;
$font-size: 1em;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: slategrey;

// other major colors.
$site-title-color: rgba(#fff, .6);
$page-title-color: white;
$background-color: slategrey;
$border-color: rgba(#fff, .6);

// typography colors.
$text-color: white;
$link-color: white;
$blockquote-color: white;
